<a href="https://colab.research.google.com/github/VitikaJain25/DSToolBox/blob/main/1_DSToolBox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions:


*   Built in functions
*   User defined function
        *   Functions with no parameters
        *   Functions with paratmeters
        *   Functions that return value
        *   Functions - multiple parameters, multiple return value

In [ ]:
# Built In Function - str()
x = 5
print(x)
print(type(x))

x = str(5)
print(x)
print(type(x))

5
<class 'int'>
5
<class 'str'>

Defining own function

In [ ]:
# With no parameter and no return

def square():  # Function header
  new_value = 4 ** 2.  # Function body
  print(new_value)

square()   # Calling function

16

In [ ]:
# Function with Parameters

def square(value):
  new_value = value ** 2
  print(new_value)

square(4)

16

# Parameters VS Arguments
When we **define** a function, we call it parameter.

When we **call** a function, we call it arguments.

In [ ]:
def square(value):  # Parameter
  new_value = value ** 2
  return(new_value)

square(4) # Argument

In [ ]:
# Function with return
def square(value):
  new_value = value ** 2
  return(new_value)

square(4)

16

DOCSTRINGS:


*   Documentation of your own function
*   Describes what your function does
*   Placed in immediate line after function header
*   In between triple double quotes

In [ ]:
def square(value):
  """ Returns square of a value """
  new_value = value ** 2
  return(new_value)

square(4)
square()
# We can read the function documentation by hovering between ()

16

Exercise:
Function which prints

There is 1 item in the list.

There are 2 items in the list.

There are 3 items in the list.

In [ ]:
# Method 1
count = 2
print(f'There {"is" if count == 1 else "are"} {count} item{"s" if count > 1 else ""} in the list')

There are 2 items in the list

In [ ]:
# Method 2
count = 1
print(f'There {"is" if count == 1 else "are"} {count} item{"s" * (count != 1)} in the list')

There is 1 item in the list

In [ ]:
# Function without parameter
def shout():
  shout_word = "Congratulations" + "!!!"
  print(shout_word)

shout()

Congratulations!!!

In [ ]:
# Function with parameter
def shout(word):
  shout_word = word + "!!!"
  print(shout_word)

shout("Congratulations")

Congratulations!!!

In [ ]:
# Function with parameter and return value
def shout(word):
  shout_word = word + "!!!"
  return(shout_word)

yell = shout("Congratulations")
print(yell)

Congratulations!!!

In [ ]:
# Data types
# Print function returns none type
x = 5
y = str(x)
z = print(x)

print(type(x))
print(type(y))
print(type(z))

5
<class 'int'>
<class 'str'>
<class 'NoneType'>